.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup-content {
    background-color: var(--dark-bg-color);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* max-width: 80%;
    max-height: 80%; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popup-content button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  .popup-content button:hover {
    background-color: var(--dark-color);
  }

  
  .popup h2 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .popup p {
    font-size: 12px;
    margin-bottom: 16px;
  }
  
  .popup button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999999;

  }
  
  .popup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .popup label {
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .popup input,
  .popup select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
  }